.site-main {
    flex-grow: 1;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    font-weight: 400;
    height: 100%;
    // background-color: #f6f7f9;
    // overflow-x: hidden;
}
img {
    display: block;
    height: auto;
}
// for add js 
.db {
    display: block;
}
.error-title {
    color: #ff0707;
}
.error-border {
    border-color: #ff0707;
}
.error-outline {
    outline: #ff0707;
}
.error-input {
    color: #ff0707!important;
    border-color: #ff0707!important;
    outline-color: #ff0707;
}
.placeH::placeholder {
    color: #ed0202;
}
.start-off-P {
    padding: 0;
}

// for password icon change 
.change-bg1 .js-password{
    background-image: url(../images/eye-close.png);
}
.change-bg2 .js-password-repeat{
    background-image: url(../images/eye-close.png);
}
.start__form-wrapper {
    display: flex !important;
    
}

.start {
    display: none;
}
// .register {
//     display: none !important;
// }
.register {
    // display: none;
}
.register__form {
    // display: none;
}
.end {
    display: block;
    display: none;
}